@model KarteleKlinikeP.Models.TedhenatBaze

<div>
    <h4>TedhenatBaze</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atesia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atesia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memesia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memesia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datelindja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datelindja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendLindja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendLindja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendbanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendbanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupiGjakur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupiGjakur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mjeku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mjeku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReaksionNgaBarnat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReaksionNgaBarnat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersoniInteresuar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersoniInteresuar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoni)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
